/// 환경설정
FLUTTER_TARGET = lib/app/config/env/prod.dart

/// 앱설정
APP_NAME = 피지컬노트
APP_BUNDLE_IDENTIFIER = com.conner.physicalNote
KAKAO_URL_SCHEME = kakaofde38af09e56b42965bdf5b505f5a332
PRIVACY_CAMERA = 프로필 설정 및 기록을 위해 권한을 허락해 주세요.
PRIVACY_CAMERA_ENG = Please allow privileges for profile settings and records.

